/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER	
#MENU 
#FEATURED SLIDER 
#OUTFITS GENERATE
#COUNTER
#WISHLIST





...?
#CONTACT US
#FOOTER
#RESPONSIVE STYLE
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

strong {
	font-weight: 500;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}

/*Wordpress default class*/

.alignleft {
	float:left;
	margin-right:8px;
}

.aligncenter {
	display:block;
	margin:10px auto;
}

.alignright {
	float:right;
	margin-left:8px;
}		

.alignnone {
	max-width: 100%;
}

.wp-caption-text {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: transparent;
	border-radius: 100px;
	border: solid 1px #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 01px;
	padding: 12px 25px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	background-color: #fff;
	color: #000;
}
.mu-send-msg-btn {
	border-radius: 4px;
	border: 1px solid #888;
	background-color: transparent;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 130px;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}



/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-header {
	display: inline;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 25px 0;
	z-index: 999;
	transition: all 0.5s;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	margin-top: -5px;
}

.navbar-brand img{
	margin-top: -12px;
}

#mu-header.mu-fixed-nav{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	position: fixed;
	padding: 15px 0;
}

/*--------------------*/
/* MENU */
/*--------------------*/

.navbar-default {
	min-height: auto;
}

.mu-navbar {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-default .mu-menu li a {
	border-bottom: 2px solid transparent;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 0 0 5px;
	margin: 10px 15px 5px;
	transition: all 0.5s;
}

.navbar-default .mu-menu li a:hover,
.navbar-default .mu-menu li a:focus {
	border-bottom: 2px solid #ffffff;
	color: #fff;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover{
	background-color: transparent;
	color: #fff;
}


/*--------------------*/
/* FEATURED SLIDER */
/*--------------------*/

#mu-featured-slider{
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-slider-area{
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-slide {
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-slider-single {
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

.mu-featured-slider-single::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	opacity: 0.92;
}

.mu-featured-slider-content {
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 0;
	top: 35%;
	text-align: center;
}

.mu-featured-slider-content h1 {
	color: #fff;
	font-size: 50px;
	margin-bottom: 20px;
}

.mu-featured-slider-content p {
	color: #fff;
	padding: 0 100px;
	margin-bottom: 20px;
}

.mu-featured-slider-content .mu-primary-btn{
	margin-top: 20px;
}

.slick-dotted.slick-slider{
	margin-bottom: 0;
}

.slick-dots {
	background-color: transparent;
	bottom: 40px;
}

.slick-dots li button {
	background-color: #fff;
	border-radius: 10px;
	-webkit-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	height: 18px;
	width: 18px;

}

.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.slick-dots li button::before,
.slick-dots li.slick-active button::before {
	color: #fff;
	height: 18px;
	width: 18px;
}


/*--------------------*/
/* OUTFITS GENERATE */
/*--------------------*/


#mu-OUTFITS {
	display: inline;
	float: left;
	width: 100%;
}

.mu-OUTFITS-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-OUTFITS-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	background-color: #7d7373;
	border-radius: 0;
	height: 3px;
	width: 100px;
	display: inline-block;
	margin-bottom: 20px;
}

.mu-OUTFITS-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.mu-OUTFITS-content-single{
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-OUTFITS-icon-box {
	font-size: 25px;
	padding: 5px 12px;
	margin-bottom: 30px;
	display: inline-block;
	border-radius: 10px;
}

.mu-OUTFITS-content-single h4{
	margin-bottom: 20px;
}



/*--------------------*/
/* COUNTER */
/*--------------------*/

#mu-counter {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOMFbwref6dYTQC5SNDCcal6RmFww-JsSs6J7nfqS55Cxszz3pJQ&s");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-counter:before {
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.84;
}

.mu-counter-area {
	display: inline;
	float: left;
	padding: 150px 0;
	width: 100%;
}

.mu-counter-area h2 {
	color: #fff;
	text-align: center;
}

.mu-counter-block {
	display: inline;
	float: left;
	margin-top: 80px;
	width: 100%;
}

.mu-single-counter {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-single-counter i {
	color: #fff;
	font-size: 40px;
	border-bottom: 3px solid #fff;
	padding: 15px 15px;
	margin-bottom: 0px;
	display: inline-block;
}

.counter-value {
	font-size: 40px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}

.mu-counter-name {
	color: #ecf0f1;
}


/*--------------------*/
/* SERVICE */
/*--------------------*/


#mu-service {
	display: inline;
	float: left;
	width: 100%;
}

.mu-service-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-service-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	background-color: #7d7373;
	border-radius: 0;
	height: 3px;
	width: 100px;
	display: inline-block;
	margin-bottom: 20px;
}

.mu-service-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.mu-service-content-single{
	display: inline;
	float: left;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 10px;
	width: 100%;
}

.mu-service-icon-box {
	font-size: 35px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius: 10px;
}

.mu-service-content-single h4{
	margin-bottom: 20px;
	font-size: 20px;
}

.mu-service-content-single p{
	font-size: 15px;
}


/*--------------------*/
/* CONTACT US */
/*--------------------*/

#mu-contact {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-contact-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-contact-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-contact-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-form .form-group input {
	background: transparent;
	color: #333;
	font-size: 15px;
	border: 1px solid #333;
	border-radius: 0;
	height: 45px;
	margin-bottom: 24px;
}

.mu-contact-form .form-group textarea{
	color: #333;
	background: transparent;
	border: 1px solid #333;
	border-radius: 0;
	font-size: 18px;
	padding: 10px;
	height: 190px;
}

.mu-contact-form .form-control:focus {
	background-color: #fff;
    outline: 0;
    box-shadow: none;    
} ©

.mu-contact-form .form-control::-webkit-input-placeholder {
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #888;
	font-size: 15px; 
}

.mu-contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-ms-input-placeholder {  
	color: #888;
	font-size: 15px;
}

.mu-contact-form button {
	float: left;
	margin-left: 0;
	border-radius: 0px;
}

.mu-contact-form .button-default::after,
.mu-contact-form .button-default > span {
	padding: 12px 40px;  
}

.mu-contact-right {
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-right h4{
	font-size: 24px;
}

.mu-contact-right address {
	padding-left: 0;
	margin-top: 15px;
	display: block;
	width: 100%;
}

.mu-contact-right address p {
	font-size: 16px;
}

.mu-contact-right address p i{
	margin-right: 10px;
}

.mu-social-media {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media a {
	display: inline-block;
	font-size: 16px;
	border: 1px solid #333;
	width: 35px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	background-color: #fff;
}

#form-messages {
	margin-bottom: 10px;
    background-color: #fff;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
